

.clear {
	clear: both;
	border: none;
	width: 0px;
}

.calendar {
	text-align: center;
}

.calendar_header div {
	font-weight: bold;
	text-align: center;
	background-color: #E0E0E0;
}

.calendar_title {
	width: 99%;
}

.calendar_title .left {
	float: left;
	width: 25%;
	text-align: left;
}

.calendar_title .middle {
	float: left;
	width: 50%;
	text-align: center;
}

.calendar_title .right {
	float: left;
	width: 25%;
	text-align: right;
}


.calendar_header .sunday {
	float: left;
	width: 14%;
	border-width: 1px 1px 1px 1px;
	border-color: black;
	border-style: solid;
}

.calendar_header .notsunday {
	float: left;
	width: 14%;
	border-width: 1px 1px 1px 0px;
	border-color: black;
	border-style: solid;
}

.calendar_body .sunday {
	float: left;
	width: 14%;
	height: 80px;
	border-width: 0px 1px 1px 1px;
	border-color: black;
	border-style: solid;
	text-align: left;
	background: #EEEEEE;
}

.calendar_body .notsunday {
	float: left;
	width: 14%;
	height: 80px;
	border-width: 0px 1px 1px 0px;
	border-color: black;
	border-style: solid;
	text-align: left;
}

.calendar_body .saturday {
	float: left;
	width: 14%;
	height: 80px;
	border-width: 0px 1px 1px 0px;
	border-color: black;
	border-style: solid;
	text-align: left;
	background: #EEEEEE;
}

.on {
	background: #FFFFDD;
}

.date {
	height: 20px;
	width: 20px;
	float: left;
	background-color: #E0E0E0;
	border-width: 1px 1px 1px 1px;
	border-color: #C0C0C0;
	border-style: solid;
	margin: 1px 1px 1px 1px;
	text-align: center;
}

.calendar_items {
	float: left;
	font-size: 10px;
	border: none;
}





